In [2]:
import pandas as pd
import numpy as np
import os

from dotenv import load_dotenv
from pymongo import MongoClient
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

First we load the data by connecting to Postgres and Mongo

In [27]:
##connect to postgres db
engine = create_engine(os.getenv("PG_CONN"))
engine.connect()

In [28]:
df = pd.read_sql("SELECT * FROM job", engine)
df.head()

,job_id,title,contract_type,contract_time,created,adref,redirect_url,salary_min,salary_max,company_id,location_id,category_id
0,5503199876,Sachbearbeiter Bauunterhaltung (m/w/d),None,full_time,2025-11-19 16:10:49,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiY3FIOXIxREo4QkdIZ...,https://www.adzuna.de/details/5503199876?utm_m...,48000.0,54000.0,1,1,1
1,5491921252,Fachlagerist (m/w/d),None,full_time,2025-11-12 13:16:58,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiY3FIOXIxREo4QkdIZ...,https://www.adzuna.de/details/5491921252?utm_m...,16.0,18.0,2,2,1
2,5496669962,Strategischer Einkäufer (m/w/d),None,full_time,2025-11-14 21:21:25,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ5NjY2OTk2MiIsI...,https://www.adzuna.de/details/5496669962?utm_m...,70000.0,80000.0,3,3,1
3,5493178189,Metallbauer (m/w/d),None,full_time,2025-11-13 08:47:37,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ5MzE3ODE4OSIsI...,https://www.adzuna.de/details/5493178189?utm_m...,18.0,20.0,4,4,1
4,5491386591,Personalreferent (m/w/d),None,full_time,2025-11-12 02:42:57,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ5MTM4NjU5MSIsI...,https://www.adzuna.de/details/5491386591?utm_m...,48000.0,54000.0,5,5,1

In [7]:
jobs = pd.read_sql("SELECT * FROM job", engine)
com = pd.read_sql("SELECT * FROM company", engine)
cat = pd.read_sql("SELECT * FROM category", engine)
locs = pd.read_sql("SELECT * FROM location", engine)

In [19]:
# print("MONGO_URI:", os.getenv("MONGO_URI"))

MONGO_URI: mongodb://datascientest:dst123@localhost:27017/admin

In [24]:
# print("Current dir:", os.getcwd())
# print(".env exists:", os.path.exists(".env"))

Current dir: /Users/birgithermsen/Documents/Datascientest/oct25_bde_job_market/notebooks
.env exists: False

In [25]:
# ##connect to mongodb
# load_dotenv()

# client = MongoClient(
#     host="127.0.0.1",
#     port=27018,  # Changed port
#     username=os.getenv("MONGO_USER"),
#     password=os.getenv("MONGO_PASS"),
#     authSource="admin",
#     serverSelectionTimeoutMS=5000
# )

# db = client['jobmarketdb']
# collection = db['adzunajobs']

# cursor = collection.find(
#     {},                             # all documents
#     {"_id": 0, "job_id": 1, "job_description": 1}   # only these fields
# )

# df_mongo = pd.DataFrame(list(cursor))
# df_mongo.head()

Empty DataFrame
Columns: []
Index: []

In [29]:
df_mongo = pd.read_json('adzunajobs.json')
df_mongo = df_mongo[['id', 'description', 'salary_min', 'salary_max']]
df_mongo = df_mongo.rename(columns={"id": "job_id", "description": "job_description"})
df_mongo.head()

,job_id,job_description,salary_min,salary_max
0,5494605665,"Du weißt, was Du kannst – und suchst einen Arb...",18.0,20.0
1,5471852220,DIREKTVERMITTLUNG in Festanstellung (keine Ze...,NaN,NaN
2,5491386603,Bereit für den nächsten Karriereschritt? Wir b...,16.0,18.0
3,5484898587,Du willst Dein Fachwissen in einem neuen Arbei...,70000.0,80000.0
4,5492488590,"Unternehmen Ein international tätiges, produzi...",75000.0,95000.0

In [37]:
##combine data into one df
df = jobs.merge(locs)
df = df.merge(df_mongo)
df.head()

,job_id,title,contract_type,contract_time,created,adref,redirect_url,salary_min,salary_max,company_id,location_id,category_id,display_name,latitude,longitude,country,city,job_description
0,5493178189,Metallbauer (m/w/d),None,full_time,2025-11-13 08:47:37,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ5MzE3ODE4OSIsI...,https://www.adzuna.de/details/5493178189?utm_m...,18.0,20.0,4,4,1,"Emmering, Fürstenfeldbruck (Kreis)",48.180690,11.280780,Deutschland,Fürstenfeldbruck (Kreis),Gute Arbeit verdient Anerkennung – und die bek...
1,5491386591,Personalreferent (m/w/d),None,full_time,2025-11-12 02:42:57,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ5MTM4NjU5MSIsI...,https://www.adzuna.de/details/5491386591?utm_m...,48000.0,54000.0,5,5,1,"Nordhausen, Nordhausen (Kreis)",51.503530,10.793620,Deutschland,Nordhausen (Kreis),Du willst Dein Fachwissen in einem neuen Arbei...
2,5491386575,Fertigungsmitarbeiter Baugruppenmontage (m/w/d),None,full_time,2025-11-12 02:42:50,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiY3FIOXIxREo4QkdIZ...,https://www.adzuna.de/details/5491386575?utm_m...,16.0,18.0,6,6,1,"Innenstadt, Lübeck",53.866240,10.680960,Deutschland,Lübeck,Dein Talent ist gefragt! Wir suchen engagierte...
3,5480553103,SAP Basis/ BTP Consultant (m/w/d) - 35h/Woche!,permanent,full_time,2025-11-04 17:31:44,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQ4MDU1MzEwMyIsI...,https://www.adzuna.de/details/5480553103?utm_m...,70000.0,120000.0,10,17,1,"Bielefeld, Nordrhein-Westfalen",52.021203,8.543293,Deutschland,Nordrhein-Westfalen,Für ein Technologieunternehmen wird aktuell ei...
4,5491607131,CNC-Dreher (m/w/d),None,full_time,2025-11-12 08:43:34,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiY3FIOXIxREo4QkdIZ...,https://www.adzuna.de/details/5491607131?utm_m...,20.0,22.0,22,22,1,"Zweifall, Stolberg",50.718080,6.257120,Deutschland,Stolberg,"Erfahrung, Einsatz, Ehrgeiz – das ist die Basi..."

In [32]:
# Check data types
print("Data Types:")
print(df.dtypes)
print("\n" + "="*50 + "\n")

# Check missing values
print("Missing Values:")
missing = df.isnull().sum()
missing_pct = (missing / len(df)) * 100
missing_df = pd.DataFrame({
    'Missing_Count': missing,
    'Percentage': missing_pct
})
print(missing_df[missing_df['Missing_Count'] > 0].sort_values('Percentage', ascending=False))
print("\n" + "="*50 + "\n")

# Basic statistics
print("Basic Statistics:")
print(df.describe())

Data Types:
job_id                      int64
title                      object
contract_type              object
contract_time              object
created            datetime64[ns]
adref                      object
redirect_url               object
salary_min                float64
salary_max                float64
company_id                  int64
location_id                 int64
category_id                 int64
display_name               object
latitude                  float64
longitude                 float64
country                    object
city                       object
job_description            object
dtype: object

==================================================

Missing Values:
               Missing_Count  Percentage
contract_type             17   60.714286
salary_min                 5   17.857143
salary_max                 5   17.857143
contract_time              2    7.142857
latitude                   1    3.571429
longitude                  1    3.571429
city                       1    3.571429

==================================================

Basic Statistics:
             job_id                        created     salary_min  \
count  2.800000e+01                             28      23.000000
mean   5.489646e+09  2025-11-10 20:02:30.321428224   35139.652174
min    5.474060e+09            2025-11-01 06:05:51      16.000000
25%    5.488913e+09  2025-11-10 04:46:26.249999872      18.000000
50%    5.491497e+09     2025-11-12 05:43:21.500000   40000.000000
75%    5.492839e+09            2025-11-13 00:13:52   70000.000000
max    5.498587e+09            2025-11-16 01:35:24  105000.000000
std    6.007628e+06                            NaN   36744.644422

          salary_max  company_id  location_id  category_id   latitude  \
count      23.000000   28.000000    28.000000         28.0  27.000000
mean    73662.347826   33.428571    48.464286          1.0  51.073405
min        18.000000    4.000000     4.000000          1.0  48.040860
25%        20.000000   10.000000    20.750000          1.0  50.283396
50%     45000.000000   16.000000    47.000000          1.0  51.053290
75%     95000.000000   51.000000    73.250000          1.0  52.496018
max    800000.000000  110.000000   110.000000          1.0  53.866240
std    164270.391139   34.166725    34.294457          0.0   1.750050

       longitude
count  27.000000
mean   10.248929
min     6.257120
25%     8.654219
50%    10.325230
75%    12.517910
max    13.937400
std     2.348075

**Data Prep and Cleaning**

In [38]:
# Create a copy for cleaning
df_clean = df.copy()

# 1. Handle missing values in numeric columns (latitude, longitude)
print("Handling missing values...")

# df_clean = df_clean.dropna(subset=['latitude', 'longitude'])

# 2. Handle missing values in categorical columns (city, country)
# Fill with 'Unknown' or mode
df_clean['city'].fillna('Unknown', inplace=True)
df_clean['country'].fillna('Deutschland', inplace=True)  

# 3. Handle salary columns - remove rows where salary is missing or invalid
df_clean = df_clean.dropna(subset=['salary_min', 'salary_max'])

# Remove rows where salary_max < salary_min (data quality issue)
df_clean = df_clean[df_clean['salary_max'] >= df_clean['salary_min']]

# Remove hourly salaries
df_clean = df_clean[df_clean['salary_min'] > 100]


print(f"\nRows after cleaning: {len(df_clean)} (removed {len(df) - len(df_clean)} rows)")
print(f"Missing values remaining:\n{df_clean.isnull().sum()[df_clean.isnull().sum() > 0]}")

Handling missing values...

Rows after cleaning: 12 (removed 16 rows)
Missing values remaining:
contract_type    4
dtype: int64

In [40]:
df_clean['job_description']

1     Du willst Dein Fachwissen in einem neuen Arbei...
3     Für ein Technologieunternehmen wird aktuell ei...
7     Du willst Dein Fachwissen in einem neuen Arbei...
8     Unser Auftraggeber, ein zukunftsorientiertes F...
9     Für unseren Kunden, ein international führende...
11    Ein innovatives Unternehmen aus der Konsumgüte...
12    Unser Auftraggeber, ein zukunftsorientiertes U...
13    Du willst Dein Fachwissen in einem neuen Arbei...
15    Derzeit wird ein SAP SD Inhouse Consultant (m/...
17    Unternehmen Ein international tätiges, produzi...
21    Du willst Dein Fachwissen in einem neuen Arbei...
24    Bei unserem Auftraggeber wird eine erfahrene P...
Name: job_description, dtype: object

**Keyword extraction from job description**

In [41]:
# Fill missing descriptions
df_clean['job_description'] = df_clean['job_description'].fillna('')

# Convert to lowercase for consistency
df_clean['desc_lower'] = df_clean['job_description'].str.lower()

# Define comprehensive keyword categories
keywords_dict = {
    # Seniority levels
    'seniority': ['senior', 'lead', 'principal', 'staff', 'junior', 'entry', 
                  'experienced', 'expert', 'chief', 'head of', 'director', 'vp',
                  'leitend', 'erfahren', 'anfänger', 'einsteiger', 'fachlich', 'leiter', 'direktor'],
    
    # Technical skills - Programming languages
    'languages': ['python', 'java', 'javascript', 'typescript', 'c++', 'c#', 
                  'ruby', 'go', 'rust', 'scala', 'kotlin', 'swift', 'php', 'r'],
    
    # Frameworks & Technologies
    'frameworks': ['react', 'angular', 'vue', 'django', 'flask', 'spring', 
                   'node.js', 'express', '.net', 'tensorflow', 'pytorch', 'keras'],
    
    # Databases
    'databases': ['sql', 'mysql', 'postgresql', 'mongodb', 'oracle', 'redis', 
                  'elasticsearch', 'cassandra', 'dynamodb', 'neo4j'],
    
    # Cloud & DevOps
    'cloud': ['aws', 'azure', 'gcp', 'cloud', 'docker', 'kubernetes', 'k8s',
              'terraform', 'ansible', 'jenkins', 'gitlab', 'ci/cd', 'devops'],
    
    # Data & AI
    'data_ai': ['machine learning', 'deep learning', 'ai', 'data science', 
                'analytics', 'big data', 'etl', 'data warehouse', 'spark', 
                'hadoop', 'tableau', 'power bi', 'künstliche intelligenz',
                'datenwissenschaft', 'datenanalyse', 'datenlager'],
    
    # Methodologies
    'methodologies': ['agile', 'scrum', 'kanban', 'waterfall', 'test-driven',
                      'microservices', 'rest', 'api', 'graphql'],
    
    # Soft skills & Management
    'management': ['team lead', 'leadership', 'management', 'communication',
                   'project management', 'stakeholder', 'mentor', 'architect',
                   'teamleitung', 'führung', 'kommunikation', 'projektleitung', 'mentor', 'architekt'],
    
    # Education requirements
    'education': ['bachelor', 'master', 'phd', 'doctorate', 'degree', 
                  'university', 'certification', 'certified',
                  'bachelorabschluss', 'masterabschluss', 'doktor', 'abschluss', 'universität', 'zertifizierung', 'zertifiziert'],
    
    # Experience indicators
    'experience': ['years of experience', 'year experience', 'experience in',
                   'proven track record', 'extensive experience', 'jahre erfahrung', 'erfahrung in', 
                   'nachweisliche erfahrung', 'umfangreiche erfahrung'],
    
    # Domain expertise
    'domains': ['finance', 'fintech', 'healthcare', 'e-commerce', 'automotive',
                'telecommunications', 'gaming', 'security', 'blockchain', 'iot',
                'finanzen', 'gesundheitswesen', 'handel', 'automobil', 'telekommunikation',
                'sicherheit', 'internet der dinge'],
    
    # Company size indicators
    'company_type': ['startup', 'enterprise', 'corporation', 'sme', 'scale-up',
                     'fortune 500', 'multinational'],
    
    # Benefits (often correlate with higher salaries)
    'benefits': ['remote', 'flexible', 'home office', 'relocation', 'visa',
                 'bonus', 'stock options', 'equity', '30 days vacation',
                 'flexibel', 'heimarbeit', 'umzug', 'urlaub', 'aktienoptionen']
}

# Count keyword occurrences in each category
for category, keywords in keywords_dict.items():
    df_clean[f'{category}_count'] = 0
    for keyword in keywords:
        df_clean[f'{category}_count'] += df_clean['desc_lower'].str.contains(
            keyword, regex=False, na=False
        ).astype(int)
    print(f"{category}: mean count = {df_clean[f'{category}_count'].mean():.2f}")

# Create binary features for high-impact individual keywords
high_impact_keywords = [
    'senior', 'lead', 'principal', 'architect', 'expert',
    'python', 'java', 'aws', 'azure', 'kubernetes',
    'machine learning', 'ai', 'blockchain', 
    'remote', 'phd', 'team lead'
]

for keyword in high_impact_keywords:
    col_name = f"has_{keyword.replace(' ', '_')}"
    df_clean[col_name] = df_clean['desc_lower'].str.contains(
        keyword, regex=False, na=False
    ).astype(int)

print(f"\nCreated {len(keywords_dict)} category count features")
print(f"Created {len(high_impact_keywords)} binary keyword features")

seniority: mean count = 0.42
languages: mean count = 1.08
frameworks: mean count = 0.00
databases: mean count = 0.00
cloud: mean count = 0.08
data_ai: mean count = 0.00
methodologies: mean count = 0.00
management: mean count = 0.42
education: mean count = 0.08
experience: mean count = 0.08
domains: mean count = 0.42
company_type: mean count = 0.00
benefits: mean count = 0.17

Created 13 category count features
Created 16 binary keyword features

In [ ]:
# # Additional text-based features
# df_clean['desc_length'] = df_clean['job_description'].str.len()
# df_clean['desc_word_count'] = df_clean['job_description'].str.split().str.len()
# df_clean['desc_sentence_count'] = df_clean['job_description'].str.count(r'[.!?]+')

# # Extract years of experience mentioned (e.g., "5+ years", "3-5 years")
# import re

# def extract_years_experience(text):
#     if pd.isna(text) or text == '':
#         return 0
#     # Look for patterns like "5+ years", "3-5 years", "5 years"
#     patterns = [
#         r'(\d+)\+?\s*(?:years?|jahr)',  # 5+ years, 5 years
#         r'(\d+)\s*(?:-|to|bis)\s*\d+\s*(?:years?|jahr)',  # 3-5 years
#     ]
#     years = []
#     for pattern in patterns:
#         matches = re.findall(pattern, text.lower())
#         years.extend([int(m) for m in matches if m])
#     return max(years) if years else 0

# df_clean['years_experience_required'] = df_clean['job_description'].apply(extract_years_experience)

# # Count technical requirements
# df_clean['requirements_count'] = df_clean['desc_lower'].str.count(
#     r'\b(require|must|need|essential|mandatory)\b'
# )

# # Count "nice to have" vs "must have"
# df_clean['nice_to_have_count'] = df_clean['desc_lower'].str.count(
#     r'\b(nice to have|preferred|bonus|plus|advantage)\b'
# )

# print("Advanced text features:")
# print(df_clean[['desc_length', 'desc_word_count', 'years_experience_required', 
#                 'requirements_count', 'nice_to_have_count']].describe())

In [52]:
from sklearn.feature_extraction.text import TfidfVectorizer, ENGLISH_STOP_WORDS

# Option 1: Use a German stopwords list (recommended)
# Install: pip install nltk
try:
    import nltk
    nltk.download('stopwords', quiet=True)
    from nltk.corpus import stopwords
    german_stop_words = stopwords.words('german')
    print(f"Using NLTK German stopwords: {len(german_stop_words)} words")
except:
    print("NLTK not available, using custom stopwords")
    # Option 2: Manual German stopwords list
    # Note: Use base forms without umlauts if using strip_accents
    german_stop_words = [
        'der', 'die', 'und', 'in', 'den', 'von', 'zu', 'das', 'mit', 'sich',
        'des', 'auf', 'fur', 'ist', 'im', 'dem', 'nicht', 'ein', 'eine',
        'als', 'auch', 'es', 'an', 'werden', 'aus', 'er', 'hat', 'dass',
        'sie', 'nach', 'wird', 'bei', 'einer', 'um', 'am', 'sind', 'noch',
        'wie', 'einem', 'uber', 'einen', 'so', 'zum', 'war', 'haben', 'nur',
        'oder', 'aber', 'vor', 'zur', 'bis', 'mehr', 'durch', 'man', 'sein',
        'wurde', 'sei', 'wir', 'ihre', 'bzw', 'sowie', 'inkl', 
        'ggf', 'etc', 'ca', 'innen', 'unser', 'unseren', 'unternehmen', 'suchen'
    ]

# Create TF-IDF features from job descriptions
# Use a limited number of features to avoid overfitting
tfidf = TfidfVectorizer(
    max_features=50,  # Top 50 most important terms
    min_df=5,  # Term must appear in at least 5 documents
    max_df=0.8,  # Ignore terms that appear in more than 80% of documents
    ngram_range=(1, 2),  # Use single words and bi-grams
    stop_words=german_stop_words,  # Remove common German words
    lowercase=True,
    strip_accents='unicode'  # Handle umlauts better
)

# Fit and transform
tfidf_features = tfidf.fit_transform(df_clean['job_description'].fillna(''))
tfidf_df = pd.DataFrame(
    tfidf_features.toarray(),
    columns=[f'tfidf_{i}' for i in range(tfidf_features.shape[1])],
    index=df_clean.index
)

# Show most important terms
feature_names = tfidf.get_feature_names_out()
print("\nTop 20 TF-IDF terms found in German job descriptions:")
for i, term in enumerate(feature_names[:20]):
    print(f"  {i+1}. {term}")

# Merge TF-IDF features with main dataframe
df_clean = pd.concat([df_clean, tfidf_df], axis=1)

print(f"\nAdded {tfidf_features.shape[1]} TF-IDF features")

# Optional: Show which terms are most correlated with salary
if 'salary_avg' in df_clean.columns:
    correlations = []
    for col in tfidf_df.columns:
        # Fix: Use correct correlation calculation between two Series
        corr = df_clean[[col, 'salary_avg']].corr().iloc[0, 1]
        if not pd.isna(corr):
            idx = int(col.split('_')[1])
            correlations.append((col, corr, feature_names[idx]))
    
    correlations.sort(key=lambda x: abs(x[1]), reverse=True)
    print("\nTop 10 salary-correlated German terms:")
    for col, corr, term in correlations[:10]:
        direction = "higher" if corr > 0 else "lower"
        print(f"  {term}: {corr:.3f} ({direction} salary)")

NLTK not available, using custom stopwords

Top 20 TF-IDF terms found in German job descriptions:
  1. aufgaben
  2. fokus
  3. implementierung
  4. kunden
  5. sap

Added 5 TF-IDF features

Top 10 salary-correlated German terms:
  kunden: -0.427 (lower salary)
  aufgaben: -0.344 (lower salary)
  sap: 0.216 (higher salary)
  implementierung: 0.054 (higher salary)
  fokus: 0.027 (higher salary)

**Feature engineering**

In [56]:
# Create target variable: average salary
df_clean['salary_avg'] = (df_clean['salary_min'] + df_clean['salary_max']) / 2
df_clean['salary_range'] = df_clean['salary_max'] - df_clean['salary_min']

# Create binary features from categorical variables
df_clean['has_location'] = df_clean['city'].notna().astype(int)

# Extract useful features from display_name (job title)
df_clean['title_length'] = df_clean['display_name'].str.len()
df_clean['title_word_count'] = df_clean['display_name'].str.split().str.len()

# Check for keywords in job titles
title_keywords = ['senior', 'lead', 'manager', 'engineer', 'developer']
for keyword in title_keywords:
    df_clean[f'title_is_{keyword}'] = df_clean['display_name'].str.lower().str.contains(
        keyword, na=False
    ).astype(int)

print("Feature engineering complete!")
print(f"Total features: {len(df_clean.columns)}")

# Show correlation of text features with salary
# Only include numeric feature columns, not the raw text columns
text_feature_cols = [col for col in df_clean.columns if any(
    x in col for x in ['_count', 'has_', 'years_experience', 'requirements_count', 
                       'nice_to_have_count', 'tfidf_']
) and col not in ['job_description', 'desc_lower', 'display_name']]

# Also exclude any non-numeric columns
import numpy as np
text_feature_cols = [col for col in text_feature_cols 
                     if pd.api.types.is_numeric_dtype(df_clean[col])]

if 'salary_avg' in df_clean.columns and text_feature_cols:
    correlations = df_clean[text_feature_cols + ['salary_avg']].corr()['salary_avg'].sort_values(ascending=False)
    print("\nTop 15 text features correlated with salary:")
    print(correlations[1:16])  # Skip salary_avg itself

Feature engineering complete!
Total features: 146

Top 15 text features correlated with salary:
seniority_count     0.454776
tfidf_16            0.331544
domains_count       0.249320
cloud_count        -0.026214
languages_count    -0.026214
experience_count   -0.061638
benefits_count     -0.061638
has_remote         -0.061638
has_expert         -0.065153
education_count    -0.111232
tfidf_23           -0.148829
management_count   -0.168803
title_word_count   -0.231713
tfidf_22           -0.295348
tfidf_13           -0.321347
Name: salary_avg, dtype: float64

**Encode categorical variables**

In [57]:
# Select features for modeling
categorical_cols = ['country', 'city']

# Get all text-based features we created
text_feature_cols = [col for col in df_clean.columns if any(
    x in col for x in ['_count', 'has_', 'desc_length', 'desc_word_count', 
                       'years_experience', 'requirements_count', 'nice_to_have_count',
                       'title_is_', 'tfidf_']
)]

numeric_cols = ['latitude', 'longitude', 'title_length', 'title_word_count'] + text_feature_cols

# Encode categorical variables
label_encoders = {}
for col in categorical_cols:
    if col in df_clean.columns:
        le = LabelEncoder()
        df_clean[f'{col}_encoded'] = le.fit_transform(df_clean[col].astype(str))
        label_encoders[col] = le

# Frequency encoding for city (better for high cardinality)
city_freq = df_clean['city'].value_counts(normalize=True)
df_clean['city_frequency'] = df_clean['city'].map(city_freq)

print(f"Total numeric/text features: {len(text_feature_cols)}")
print("Encoded features complete")

NameError: name 'LabelEncoder' is not defined

**Prepare for data modeling**

Feature engineering complete!
Total features: 146

Top 15 text features correlated with salary:
seniority_count     0.454776
tfidf_16            0.331544
domains_count       0.249320
cloud_count        -0.026214
languages_count    -0.026214
experience_count   -0.061638
benefits_count     -0.061638
has_remote         -0.061638
has_expert         -0.065153
education_count    -0.111232
tfidf_23           -0.148829
management_count   -0.168803
title_word_count   -0.231713
tfidf_22           -0.295348
tfidf_13           -0.321347
Name: salary_avg, dtype: float64

**Split data**

In [55]:
# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print(f"Training set size: {X_train.shape[0]}")
print(f"Test set size: {X_test.shape[0]}")

# Scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("\nFeatures scaled successfully")

NameError: name 'X' is not defined

In [ ]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import xgboost as xgb  # Install with: pip install xgboost

# Initialize models
models = {
    'Ridge Regression': Ridge(alpha=1.0),
    'Lasso Regression': Lasso(alpha=1.0),
    'Random Forest': RandomForestRegressor(
        n_estimators=200, 
        max_depth=20,
        min_samples_split=5,
        random_state=42, 
        n_jobs=-1
    ),
    'Gradient Boosting': GradientBoostingRegressor(
        n_estimators=200,
        max_depth=5,
        learning_rate=0.1,
        random_state=42
    ),
    'XGBoost': xgb.XGBRegressor(
        n_estimators=200,
        max_depth=7,
        learning_rate=0.1,
        random_state=42
    )
}

# Train and evaluate each model
results = {}

for name, model in models.items():
    print(f"\nTraining {name}...")
    
    # Use scaled data for linear models, original for tree-based
    if 'Regression' in name and 'Forest' not in name:
        model.fit(X_train_scaled, y_train)
        y_pred = model.predict(X_test_scaled)
    else:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
    
    # Calculate metrics
    mae = mean_absolute_error(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    r2 = r2_score(y_test, y_pred)
    
    results[name] = {
        'model': model,
        'predictions': y_pred,
        'MAE': mae,
        'RMSE': rmse,
        'R2': r2
    }
    
    print(f"{name} Results:")
    print(f"  MAE: €{mae:,.2f}")
    print(f"  RMSE: €{rmse:,.2f}")
    print(f"  R² Score: {r2:.4f}")

In [ ]:
# Get best model (highest R2)
best_model_name = comparison_df.loc[comparison_df['R2'].idxmax(), 'Model']
best_model = results[best_model_name]['model']

print(f"Best Model: {best_model_name}")

# Feature importance for tree-based models
if hasattr(best_model, 'feature_importances_'):
    importance_df = pd.DataFrame({
        'Feature': feature_cols,
        'Importance': best_model.feature_importances_
    }).sort_values('Importance', ascending=False)
    
    print("\nTop 20 Most Important Features:")
    print(importance_df.head(20).to_string(index=False))
    
    # Categorize features
    text_features = importance_df[importance_df['Feature'].str.contains('has_|_count|tfidf_|years_experience')]
    location_features = importance_df[importance_df['Feature'].str.contains('city|country|latitude|longitude')]
    
    print(f"\nTop text-based features:")
    print(text_features.head(10).to_string(index=False))
    
    # Visualize top features
    plt.figure(figsize=(12, 8))
    top_features = importance_df.head(20)
    plt.barh(top_features['Feature'], top_features['Importance'])
    plt.xlabel('Importance')
    plt.title(f'Top 20 Feature Importances - {best_model_name}')
    plt.gca().invert_yaxis()
    plt.tight_layout()
    plt.show()
    
    # Show keyword category importance
    category_importance = {}
    for category in keywords_dict.keys():
        cat_features = importance_df[importance_df['Feature'].str.contains(category)]
        if len(cat_features) > 0:
            category_importance[category] = cat_features['Importance'].sum()
    
    if category_importance:
        cat_imp_df = pd.DataFrame(list(category_importance.items()), 
                                   columns=['Category', 'Total_Importance']).sort_values('Total_Importance', ascending=False)
        print("\nKeyword category importance:")
        print(cat_imp_df.to_string(index=False))
        
        plt.figure(figsize=(10, 6))
        plt.barh(cat_imp_df['Category'], cat_imp_df['Total_Importance'])
        plt.xlabel('Total Importance')
        plt.title('Keyword Category Importance')
        plt.gca().invert_yaxis()
        plt.tight_layout()
        plt.show()

# For linear models, show coefficients
elif hasattr(best_model, 'coef_'):
    coef_df = pd.DataFrame({
        'Feature': feature_cols,
        'Coefficient': best_model.coef_
    }).sort_values('Coefficient', key=abs, ascending=False)
    
    print("\nTop 20 Most Important Features (by coefficient magnitude):")
    print(coef_df.head(20).to_string(index=False))

**Visualization**

In [ ]:
# # Visualize predictions vs actual
# best_predictions = results[best_model_name]['predictions']

# fig, axes = plt.subplots(1, 2, figsize=(15, 6))

# # Scatter plot
# axes[0].scatter(y_test, best_predictions, alpha=0.5)
# axes[0].plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=2)
# axes[0].set_xlabel('Actual Salary (€)')
# axes[0].set_ylabel('Predicted Salary (€)')
# axes[0].set_title(f'Actual vs Predicted Salaries - {best_model_name}')

# # Residual plot
# residuals = y_test - best_predictions
# axes[1].scatter(best_predictions, residuals, alpha=0.5)
# axes[1].axhline(y=0, color='r', linestyle='--')
# axes[1].set_xlabel('Predicted Salary (€)')
# axes[1].set_ylabel('Residuals (€)')
# axes[1].set_title('Residual Plot')

# plt.tight_layout()
# plt.show()

# # Distribution of errors
# plt.figure(figsize=(10, 6))
# plt.hist(residuals, bins=50, edgecolor='black')
# plt.xlabel('Prediction Error (€)')
# plt.ylabel('Frequency')
# plt.title('Distribution of Prediction Errors')
# plt.axvline(x=0, color='r', linestyle='--', label='Perfect Prediction')
# plt.legend()
# plt.show()

# print(f"\nError Statistics:")
# print(f"Mean Error: €{residuals.mean():,.2f}")
# print(f"Median Error: €{residuals.median():,.2f}")
# print(f"Std Error: €{residuals.std():,.2f}")

**Predictions on new data**

In [ ]:
# Function to predict salary for new job listings
def predict_salary(new_data, model, scaler, feature_cols, is_linear=False):
    """
    Predict salary for new job listings
    
    Parameters:
    new_data: DataFrame with same features as training data
    model: trained model
    scaler: fitted StandardScaler
    feature_cols: list of feature column names
    is_linear: whether the model is a linear model (needs scaling)
    """
    # Prepare features
    X_new = new_data[feature_cols]
    
    # Scale if using linear model
    if is_linear:
        X_new_scaled = scaler.transform(X_new)
        predictions = model.predict(X_new_scaled)
    else:
        predictions = model.predict(X_new)
    
    return predictions

# Example: Predict for jobs with different keyword combinations
is_linear = 'Regression' in best_model_name and 'Forest' not in best_model_name

sample_data = X_test.head(10)
sample_predictions = predict_salary(sample_data, best_model, scaler, feature_cols, is_linear)

print("Sample Predictions:")
results_list = []
for i, (idx, row) in enumerate(sample_data.iterrows()):
    actual = y_test.loc[idx]
    predicted = sample_predictions[i]
    error = abs(predicted - actual)
    error_pct = (error / actual) * 100
    
    # Get original job info
    job_title = df_clean.loc[idx, 'display_name']
    city = df_clean.loc[idx, 'city']
    
    results_list.append({
        'Job': job_title[:50],
        'City': city,
        'Predicted': f"€{predicted:,.0f}",
        'Actual': f"€{actual:,.0f}",
        'Error': f"€{error:,.0f}",
        'Error %': f"{error_pct:.1f}%"
    })

results_df = pd.DataFrame(results_list)
print(results_df.to_string(index=False))

**Save Model**

In [ ]:
import pickle

# Save the best model, scaler, and all necessary objects
model_package = {
    'model': best_model,
    'scaler': scaler,
    'feature_cols': feature_cols,
    'label_encoders': label_encoders,
    'tfidf_vectorizer': tfidf,
    'keywords_dict': keywords_dict,
    'high_impact_keywords': high_impact_keywords,
    'model_name': best_model_name,
    'is_linear': is_linear
}

with open('salary_prediction_model.pkl', 'wb') as f:
    pickle.dump(model_package, f)

print("Model package saved successfully!")
print(f"\nPackage contents:")
for key in model_package.keys():
    print(f"  - {key}")

# To load later:
# with open('salary_prediction_model.pkl', 'rb') as f:
#     saved = pickle.load(f)
#     model = saved['model']
#     scaler = saved['scaler']
#     feature_cols = saved['feature_cols']